In [1]:
import pandas as pd

In [3]:
ls

Exploration.ipynb  data/              local.ipynb

In [26]:
user = pd.read_csv('./data/Twibot-22/label.csv')
# Obtain the user id and remove the first letter
user['id']=user['id'].str[1:].astype(int)

In [36]:
# A very slow step for some reason
user = pd.read_json('./data/Twibot-22/user.json', nrows=10, lines=True)
# Obtain the user id and remove the first letter
# user['id']=user['id'].str[1:].astype(int)

In [2]:
# Read user by chunks
user = pd.read_json('./data/Twibot-22/user.json', 
                    chunksize=1000000, 
                    lines=True, 
                    typ='frame', 
                    orient= 'columns')
user_list = []
print(' read complete')
# Read chunk by chunk
for idx, chunk in enumerate(user):
    # Append chunk into the "user" dataframe
    user_list.append(chunk)
    print(idx)
    # break
    if len(chunk)>10:
        break

# Concatenate all the chunks
user = pd.concat(user_list, ignore_index=True)

In [ ]:
# A very slow step for some reason
user = pd.read_json('./data/Twibot-22/user.json', orient='records', nrows=10, lines=True)
# Obtain the user id and remove the first letter
# user['id']=user['id'].str[1:].astype(int)

In [32]:
edges=pd.read_csv('./data/Twibot-22/edge.csv', chunksize=10000000)
edges.get_chunk().columns

Index(['source_id', 'relation', 'target_id'], dtype='object')

In [33]:
edges_list = []
for idx, chunk in enumerate(edges):
    if idx == 0:
        edge=pd.DataFrame(columns=chunk.columns)
    # 
    chunk=chunk[chunk['source_id'].isin(user['id']) | chunk['target_id'].isin(user['id'])]
    # Append chunk into the "edge" dataframe
    edges_list.append(chunk)
    print(idx)
    break
edge = pd.concat(edges_list, ignore_index=True)

0

In [34]:
edge

                    source_id relation             target_id
0                 u2670720884     post  t1491952895209660447
1                 u1961901163     post   t736276241301413888
2                  u122139060     post  t1171517718849179649
3                   u71311181     post  t1491746705464770561
4                   u39034982     post  t1499823361261817858
...                       ...      ...                   ...
9999995  u1161954894615650307     post  t1447492065894490113
9999996  u1482227573321080835     post  t1494824937034506241
9999997  u1295173635901202435     post  t1497958917866938369
9999998             u29958190     post  t1302228357300531200
9999999            u610637137     post  t1468854457295257600

[10000000 rows x 3 columns]

In [35]:
user

                          id  label
0       u1217628182611927040  human
1                u2664730894  human
2       u1266703520205549568  human
3       u1089159225148882949  human
4                  u36741729    bot
...                      ...    ...
999995           u1151138281  human
999996           u1339035361  human
999997            u318636852  human
999998             u43443354  human
999999             u29471345  human

[1000000 rows x 2 columns]

In [12]:
edge

                    source_id relation             target_id
0                 u2670720884     post  t1491952895209660447
1                 u1961901163     post   t736276241301413888
2                  u122139060     post  t1171517718849179649
3                   u71311181     post  t1491746705464770561
4                   u39034982     post  t1499823361261817858
...                       ...      ...                   ...
9999995  u1161954894615650307     post  t1447492065894490113
9999996  u1482227573321080835     post  t1494824937034506241
9999997  u1295173635901202435     post  t1497958917866938369
9999998             u29958190     post  t1302228357300531200
9999999            u610637137     post  t1468854457295257600

[10000000 rows x 3 columns]